<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="pm_v2">
    <link name="LINK_BASE">
        <inertial>
            <origin xyz="0.01933483 -0.00207802 -0.01780976" rpy="0 0 0"/>
            <mass value="4.24027480"/>
            <inertia ixx="0.02091105" ixy="-0.00005062" ixz="-0.00039620" iyy="0.01565927" iyz="0.00004416" izz="0.01213585"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_BASE.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_BASE.STL"/>
            </geometry>
        </collision>
    </link>

    <link name="lay_down"/>
    <joint name="LAY_DOWN" type="fixed">
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <parent link="LINK_BASE"/>
        <child link="lay_down"/>
    </joint>

    <link name="table">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8 0.25 0.02"/>
            </geometry>
            <material name="">
                <color rgba="0.55 0.35 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8 0.25 0.02"/>
            </geometry>
        </collision>
    </link>
    <joint name="table" type="fixed">
        <origin xyz="-0.5 0 -0.11" rpy="0 0 0"/>
        <parent link="lay_down"/>
        <child link="table"/>
    </joint>
    <link name="table2">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8 0.25 0.02"/>
            </geometry>
            <material name="">
                <color rgba="0.55 0.35 0.2 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8 0.25 0.02"/>
            </geometry>
        </collision>
    </link>
    <joint name="table2" type="fixed">
        <origin xyz="0.5 -0.1 0.0" rpy="0 0 -0.2"/>
        <parent link="table"/>
        <child link="table2"/>
    </joint>
    <link name="LINK_HIP_PITCH_L">
        <inertial>
            <origin xyz="0.00628306 0.04189825 -0.01324072" rpy="0 0 0"/>
            <mass value="1.70994987"/>
            <inertia ixx="0.00234993" ixy="0.00005635" ixz="-0.00000474" iyy="0.00207657" iyz="-0.00004208" izz="0.00230608"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_PITCH_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_PITCH_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J00_HIP_PITCH_L" type="revolute">
        <origin xyz="0.01541 0.076141 -0.061208" rpy="0 0 0"/>
        <parent link="LINK_BASE"/>
        <child link="LINK_HIP_PITCH_L"/>
        <axis xyz="0 0.96593 -0.25882"/>
        <limit lower="-3.141" upper="2.443" effort="164" velocity="26.3"/>
        <dynamics armature="0.04663734" damping="0.12246136" friction="0.50887851"/>
    </joint>
    <link name="LINK_HIP_ROLL_L">
        <inertial>
            <origin xyz="-0.01390333 0.00060988 -0.04690328" rpy="0 0 0"/>
            <mass value="0.64685182"/>
            <inertia ixx="0.00128116" ixy="-0.00003662" ixz="0.00026649" iyy="0.00156014" iyz="0.00004670" izz="0.00122573"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_ROLL_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_ROLL_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J01_HIP_ROLL_L" type="revolute">
        <origin xyz="0.048 0.049359 -0.013226" rpy="0 0 0"/>
        <parent link="LINK_HIP_PITCH_L"/>
        <child link="LINK_HIP_ROLL_L"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.436" upper="2.094" effort="164" velocity="26.3"/>
        <dynamics armature="0.04629268" damping="0.12146339" friction="0.51297368"/>
    </joint>
    <link name="LINK_HIP_YAW_L">
        <inertial>
            <origin xyz="-0.00111546 -0.00585950 -0.09948052" rpy="0 0 0"/>
            <mass value="1.93916783"/>
            <inertia ixx="0.01737921" ixy="-0.00052370" ixz="0.00119692" iyy="0.01634148" iyz="-0.00046488" izz="0.00369626"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_YAW_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_YAW_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J02_HIP_YAW_L" type="revolute">
        <origin xyz="-0.03139 -0.0015951 -0.086016" rpy="0 0 0"/>
        <parent link="LINK_HIP_ROLL_L"/>
        <child link="LINK_HIP_YAW_L"/>
        <axis xyz="0 0 1"/>
        <limit lower="-1.57" upper="4.014" effort="61" velocity="35.2"/>
        <dynamics armature="0.03953496" damping="0.08713460" friction="0.30262088"/>
    </joint>
    <link name="LINK_KNEE_PITCH_L">
        <inertial>
            <origin xyz="-0.00985258 -0.00487165 -0.11665601" rpy="0 0 0"/>
            <mass value="4.47135738"/>
            <inertia ixx="0.05375422" ixy="0.00063773" ixz="0.00577678" iyy="0.05804752" iyz="-0.00056210" izz="0.00525540"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_KNEE_PITCH_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_KNEE_PITCH_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J03_KNEE_PITCH_L" type="revolute">
        <origin xyz="-0.02602 -2.8566E-05 -0.23655" rpy="0 0 0"/>
        <parent link="LINK_HIP_YAW_L"/>
        <child link="LINK_KNEE_PITCH_L"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.3491" upper="2.3911" effort="164" velocity="26.3"/>
        <dynamics armature="0.04604948" damping="0.12130761" friction="0.51198654"/>
    </joint>
    <link name="LINK_ANKLE_PITCH_L">
        <inertial>
            <origin xyz="0.00234562 0.00105185 -0.00689412" rpy="0 0 0"/>
            <mass value="0.11723776"/>
            <inertia ixx="0.00001351" ixy="0.00000001" ixz="0.00000084" iyy="0.00001532" iyz="-0.00000003" izz="0.00001286"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_PITCH_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_PITCH_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J04_ANKLE_PITCH_L" type="revolute">
        <origin xyz="-0.026756 0.00041994 -0.36305" rpy="0 0 0"/>
        <parent link="LINK_KNEE_PITCH_L"/>
        <child link="LINK_ANKLE_PITCH_L"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.6807" upper="0.7243" effort="61" velocity="35.2"/>
        <dynamics armature="0.03967198" damping="0.08641061" friction="0.29814270"/>
    </joint>
    <link name="LINK_ANKLE_ROLL_L">
        <inertial>
            <origin xyz="0.02082767 0.00349477 -0.02088260" rpy="0 0 0"/>
            <mass value="0.73383772"/>
            <inertia ixx="0.00057891" ixy="-0.00001395" ixz="-0.00017335" iyy="0.00279351" iyz="-0.00000193" izz="0.00317987"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_ROLL_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_ROLL_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J05_ANKLE_ROLL_L" type="revolute">
        <origin xyz="0 0 -0.015" rpy="0 0 0"/>
        <parent link="LINK_ANKLE_PITCH_L"/>
        <child link="LINK_ANKLE_ROLL_L"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.2618" upper="0.2618" effort="61" velocity="35.2"/>
        <dynamics armature="0.03956374" damping="0.08734251" friction="0.29493460"/>
    </joint>

    <link name="LINK_FOOT_L">
        <inertial>
            <mass value="1e-3"/>
            <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.02"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 0.5"/>
            </material>
        </visual>
    </link>
    <joint name="J_FIXED_FOOT_L" type="fixed">
        <origin xyz="0.0170 0.00166 -0.04631" rpy="0 0 0"/>
        <parent link="LINK_ANKLE_ROLL_L"/>
        <child link="LINK_FOOT_L"/>
    </joint>

    <link name="LINK_HIP_PITCH_R">
        <inertial>
            <origin xyz="0.00370377 -0.04454184 -0.01251579" rpy="0 0 0"/>
            <mass value="1.69700932"/>
            <inertia ixx="0.00250012" ixy="-0.00013542" ixz="-0.00009353" iyy="0.00197345" iyz="0.00006419" izz="0.00209744"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_PITCH_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_PITCH_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J06_HIP_PITCH_R" type="revolute">
        <origin xyz="0.01541 -0.076141 -0.061208" rpy="0 0 0"/>
        <parent link="LINK_BASE"/>
        <child link="LINK_HIP_PITCH_R"/>
        <axis xyz="0 0.96593 0.25882"/>
        <limit lower="-3.141" upper="2.443" effort="164" velocity="26.3"/>
        <dynamics armature="0.04655818" damping="0.12032424" friction="0.51138087"/>
    </joint>
    <link name="LINK_HIP_ROLL_R">
        <inertial>
            <origin xyz="-0.01565592 -0.00160840 -0.04237120" rpy="0 0 0"/>
            <mass value="0.64940150"/>
            <inertia ixx="0.00122695" ixy="0.00003090" ixz="0.00021944" iyy="0.00151653" iyz="-0.00005026" izz="0.00116240"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_ROLL_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_ROLL_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J07_HIP_ROLL_R" type="revolute">
        <origin xyz="0.048 -0.04936 -0.013226" rpy="0 0 0"/>
        <parent link="LINK_HIP_PITCH_R"/>
        <child link="LINK_HIP_ROLL_R"/>
        <axis xyz="1 0 0"/>
        <limit lower="-2.094" upper="0.436" effort="164" velocity="26.3"/>
        <dynamics armature="0.04622904" damping="0.12149912" friction="0.50363508"/>
    </joint>
    <link name="LINK_HIP_YAW_R">
        <inertial>
            <origin xyz="0.00061969 -0.00006374 -0.10316418" rpy="0 0 0"/>
            <mass value="1.91763466"/>
            <inertia ixx="0.01687505" ixy="0.00041428" ixz="0.00111156" iyy="0.01595056" iyz="0.00047589" izz="0.00375672"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_YAW_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HIP_YAW_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J08_HIP_YAW_R" type="revolute">
        <origin xyz="-0.03139 0.0015966 -0.086016" rpy="0 0 0"/>
        <parent link="LINK_HIP_ROLL_R"/>
        <child link="LINK_HIP_YAW_R"/>
        <axis xyz="0 0 1"/>
        <limit lower="-4.014" upper="1.57" effort="61" velocity="35.2"/>
        <dynamics armature="0.03980271" damping="0.08752062" friction="0.29632643"/>
    </joint>
    <link name="LINK_KNEE_PITCH_R">
        <inertial>
            <origin xyz="-0.01181534 0.00009552 -0.12571601" rpy="0 0 0"/>
            <mass value="4.46387469"/>
            <inertia ixx="0.05923934" ixy="-0.00021502" ixz="0.00680366" iyy="0.06166831" iyz="-0.00010330" izz="0.00573112"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_KNEE_PITCH_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_KNEE_PITCH_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J09_KNEE_PITCH_R" type="revolute">
        <origin xyz="-0.02602 2.8566E-05 -0.23655" rpy="0 0 0"/>
        <parent link="LINK_HIP_YAW_R"/>
        <child link="LINK_KNEE_PITCH_R"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.3491" upper="2.3911" effort="164" velocity="26.3"/>
        <dynamics armature="0.04639439" damping="0.12077028" friction="0.50744554"/>
    </joint>
    <link name="LINK_ANKLE_PITCH_R">
        <inertial>
            <origin xyz="0.00107125 0.00093978 -0.00656616" rpy="0 0 0"/>
            <mass value="0.11705294"/>
            <inertia ixx="0.00001370" ixy="-0.00000004" ixz="0.00000078" iyy="0.00001625" iyz="0.00000006" izz="0.00001331"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_PITCH_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_PITCH_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J10_ANKLE_PITCH_R" type="revolute">
        <origin xyz="-0.026756 -0.00041994 -0.36305" rpy="0 0 0"/>
        <parent link="LINK_KNEE_PITCH_R"/>
        <child link="LINK_ANKLE_PITCH_R"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.6807" upper="0.7243" effort="61" velocity="35.2"/>
        <dynamics armature="0.03967350" damping="0.08868462" friction="0.29682493"/>
    </joint>
    <link name="LINK_ANKLE_ROLL_R">
        <inertial>
            <origin xyz="0.01102875 -0.00479611 -0.02303491" rpy="0 0 0"/>
            <mass value="0.73297972"/>
            <inertia ixx="0.00060834" ixy="0.00001970" ixz="-0.00017141" iyy="0.00269400" iyz="-0.00000611" izz="0.00312878"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_ROLL_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ANKLE_ROLL_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J11_ANKLE_ROLL_R" type="revolute">
        <origin xyz="0 0 -0.015" rpy="0 0 0"/>
        <parent link="LINK_ANKLE_PITCH_R"/>
        <child link="LINK_ANKLE_ROLL_R"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.2618" upper="0.2618" effort="61" velocity="35.2"/>
        <dynamics armature="0.03967779" damping="0.08820512" friction="0.29545932"/>
    </joint>
    <link name="LINK_TORSO_YAW">
        <inertial>
            <origin xyz="-0.00941839 0.00258132 0.16370977" rpy="0 0 0"/>
            <mass value="9.33297151"/>
            <inertia ixx="0.09278278" ixy="-0.00054617" ixz="-0.00599648" iyy="0.06719823" iyz="-0.00061042" izz="0.05758377"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_TORSO_YAW.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_TORSO_YAW.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J12_WAIST_YAW" type="revolute">
        <origin xyz="0.01216 0 0.0809" rpy="0 0 0"/>
        <parent link="LINK_BASE"/>
        <child link="LINK_TORSO_YAW"/>
        <axis xyz="0 0 1"/>
        <limit lower="-4.014" upper="1.57" effort="61" velocity="35.2"/>
        <dynamics armature="0.03976013" damping="0.08727955" friction="0.29774614"/>
    </joint>

    <link name="LINK_FOOT_R">
        <inertial>
            <mass value="1e-3"/>
            <inertia ixx="1e-12" ixy="0" ixz="0" iyy="1e-12" iyz="0" izz="1e-12"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.02"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 0.5"/>
            </material>
        </visual>
    </link>
    <joint name="J_FIXED_FOOT_R" type="fixed">
        <origin xyz="0.0170 -0.00166 -0.04631" rpy="0 0 0"/>
        <parent link="LINK_ANKLE_ROLL_R"/>
        <child link="LINK_FOOT_R"/>
    </joint>

    <link name="LINK_SHOULDER_PITCH_L">
        <inertial>
            <origin xyz="-0.00885367 0.05940482 -0.01950165" rpy="0 0 0"/>
            <mass value="0.94819020"/>
            <inertia ixx="0.00120758" ixy="-0.00002866" ixz="-0.00000570" iyy="0.00077231" iyz="-0.00020498" izz="0.00108277"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_PITCH_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_PITCH_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J13_SHOULDER_PITCH_L" type="revolute">
        <origin xyz="-0.027105 0.12916 0.21549" rpy="0 0 0"/>
        <parent link="LINK_TORSO_YAW"/>
        <child link="LINK_SHOULDER_PITCH_L"/>
        <axis xyz="0 0.99803 0.062791"/>
        <limit lower="-2.9671" upper="2.7925" effort="61" velocity="35.2"/>
        <dynamics armature="0.03977653" damping="0.08670038" friction="0.29754518"/>
    </joint>
    <link name="LINK_SHOULDER_ROLL_L">
        <inertial>
            <origin xyz="0.03740353 -0.00106781 -0.02558055" rpy="0 0 0"/>
            <mass value="0.52881636"/>
            <inertia ixx="0.00092060" ixy="-0.00000761" ixz="0.00000010" iyy="0.00134287" iyz="-0.00011429" izz="0.00102773"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_ROLL_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_ROLL_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J14_SHOULDER_ROLL_L" type="revolute">
        <origin xyz="-0.0371 0.066941 -0.020838" rpy="0 0 0"/>
        <parent link="LINK_SHOULDER_PITCH_L"/>
        <child link="LINK_SHOULDER_ROLL_L"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.6108" upper="2.3562" effort="61" velocity="35.2"/>
        <dynamics armature="0.03972771" damping="0.08808040" friction="0.29622700"/>
    </joint>
    <link name="LINK_SHOULDER_YAW_L">
        <inertial>
            <origin xyz="-0.00716029 -0.00099418 -0.04356955" rpy="0 0 0"/>
            <mass value="0.93921031"/>
            <inertia ixx="0.00174120" ixy="0.00000126" ixz="0.00001545" iyy="0.00168104" iyz="-0.00001615" izz="0.00081906"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_YAW_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_YAW_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J15_SHOULDER_YAW_L" type="revolute">
        <origin xyz="0.0371 0.017645 -0.070132" rpy="0 0 0"/>
        <parent link="LINK_SHOULDER_ROLL_L"/>
        <child link="LINK_SHOULDER_YAW_L"/>
        <axis xyz="0 -0.062803 0.99803"/>
        <limit lower="-2.618" upper="2.618" effort="61" velocity="35.2"/>
        <dynamics armature="0.03948681" damping="0.08704698" friction="0.29981332"/>
    </joint>
    <link name="LINK_ELBOW_PITCH_L">
        <inertial>
            <origin xyz="0.00069203 0.00971021 -0.06834013" rpy="0 0 0"/>
            <mass value="1.44380190"/>
            <inertia ixx="0.00642497" ixy="-0.00021723" ixz="-0.00024825" iyy="0.00611477" iyz="-0.00048181" izz="0.00082104"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_PITCH_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_PITCH_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J16_ELBOW_PITCH_L" type="revolute">
        <origin xyz="0 0.0065994 -0.10487" rpy="0 0 0"/>
        <parent link="LINK_SHOULDER_YAW_L"/>
        <child link="LINK_ELBOW_PITCH_L"/>
        <axis xyz="0.0027243 0.99802 0.062803"/>
        <limit lower="-2.1948" upper="0.7374" effort="61" velocity="35.2"/>
        <dynamics armature="0.03957192" damping="0.08725175" friction="0.30065007"/>
    </joint>
    <link name="LINK_ELBOW_YAW_L">
        <inertial>
            <origin xyz="0.01984938 0.00393925 -0.08645616" rpy="0 0 0"/>
            <mass value="0.47172440"/>
            <inertia ixx="0.00174375" ixy="0.00001191" ixz="0.00031834" iyy="0.00173786" iyz="-0.00004946" izz="0.00041667"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_YAW_L.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_YAW_L.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J17_ELBOW_YAW_L" type="revolute">
        <origin xyz="0.013817 0.0097723 -0.1547" rpy="0 0 0"/>
        <parent link="LINK_ELBOW_PITCH_L"/>
        <child link="LINK_ELBOW_YAW_L"/>
        <axis xyz="-0.21479 -0.061921 0.9747"/>
        <limit lower="-2.618" upper="2.618" effort="61" velocity="35.2"/>
        <dynamics armature="0.03965907" damping="0.08802423" friction="0.29670587"/>
    </joint>

    <link name="LINK_SHOULDER_PITCH_R">
        <inertial>
            <origin xyz="-0.01103005 -0.05778580 -0.01399411" rpy="0 0 0"/>
            <mass value="0.94219549"/>
            <inertia ixx="0.00137900" ixy="0.00010238" ixz="0.00008925" iyy="0.00072001" iyz="0.00017312" izz="0.00095516"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_PITCH_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_PITCH_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J18_SHOULDER_PITCH_R" type="revolute">
        <origin xyz="-0.027105 -0.12916 0.21549" rpy="0 0 0"/>
        <parent link="LINK_TORSO_YAW"/>
        <child link="LINK_SHOULDER_PITCH_R"/>
        <axis xyz="0 0.99803 -0.062791"/>
        <limit lower="-2.9671" upper="2.7925" effort="61" velocity="35.2"/>
        <dynamics armature="0.03968329" damping="0.08829516" friction="0.29754888"/>
    </joint>
    <link name="LINK_SHOULDER_ROLL_R">
        <inertial>
            <origin xyz="0.03350046 -0.01082090 -0.02590140" rpy="0 0 0"/>
            <mass value="0.52662000"/>
            <inertia ixx="0.00096732" ixy="0.00000026" ixz="0.00000149" iyy="0.00137483" iyz="0.00015668" izz="0.00092423"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_ROLL_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_ROLL_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J19_SHOULDER_ROLL_R" type="revolute">
        <origin xyz="-0.0371 -0.066941 -0.020838" rpy="0 0 0"/>
        <parent link="LINK_SHOULDER_PITCH_R"/>
        <child link="LINK_SHOULDER_ROLL_R"/>
        <axis xyz="1 0 0"/>
        <limit lower="-2.3562" upper="0.6108" effort="61" velocity="35.2"/>
        <dynamics armature="0.03961842" damping="0.08813285" friction="0.29843705"/>
    </joint>
    <link name="LINK_SHOULDER_YAW_R">
        <inertial>
            <origin xyz="0.00131824 0.00549840 -0.04518437" rpy="0 0 0"/>
            <mass value="0.93433519"/>
            <inertia ixx="0.00185229" ixy="-0.00000421" ixz="0.00002271" iyy="0.00149258" iyz="0.00000658" izz="0.00080814"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_YAW_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_SHOULDER_YAW_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J20_SHOULDER_YAW_R" type="revolute">
        <origin xyz="0.0371 -0.017644 -0.070132" rpy="0 0 0"/>
        <parent link="LINK_SHOULDER_ROLL_R"/>
        <child link="LINK_SHOULDER_YAW_R"/>
        <axis xyz="0 0.062791 0.99803"/>
        <limit lower="-2.618" upper="2.618" effort="61" velocity="35.2"/>
        <dynamics armature="0.03948885" damping="0.08720649" friction="0.30019705"/>
    </joint>
    <link name="LINK_ELBOW_PITCH_R">
        <inertial>
            <origin xyz="0.00028351 -0.00031672 -0.06885112" rpy="0 0 0"/>
            <mass value="1.44600278"/>
            <inertia ixx="0.00560986" ixy="-0.00016945" ixz="-0.00037234" iyy="0.00588541" iyz="0.00045396" izz="0.00083066"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_PITCH_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_PITCH_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J21_ELBOW_PITCH_R" type="revolute">
        <origin xyz="0 -0.006598 -0.10487" rpy="0 0 0"/>
        <parent link="LINK_SHOULDER_YAW_R"/>
        <child link="LINK_ELBOW_PITCH_R"/>
        <axis xyz="0.0027243 0.99802 -0.06279"/>
        <limit lower="-2.1948" upper="0.7374" effort="61" velocity="35.2"/>
        <dynamics armature="0.03979881" damping="0.08805402" friction="0.29910726"/>
    </joint>
    <link name="LINK_ELBOW_YAW_R">
        <inertial>
            <origin xyz="0.02395792 0.00347060 -0.09517252" rpy="0 0 0"/>
            <mass value="0.47211248"/>
            <inertia ixx="0.00159830" ixy="-0.00001104" ixz="0.00028882" iyy="0.00167360" iyz="0.00004987" izz="0.00037296"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_YAW_R.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_ELBOW_YAW_R.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J22_ELBOW_YAW_R" type="revolute">
        <origin xyz="0.013817 -0.0097704 -0.1547" rpy="0 0 0"/>
        <parent link="LINK_ELBOW_PITCH_R"/>
        <child link="LINK_ELBOW_YAW_R"/>
        <axis xyz="-0.21479 0.061909 0.9747"/>
        <limit lower="-2.618" upper="2.618" effort="61" velocity="35.2"/>
        <dynamics armature="0.03978523" damping="0.08843463" friction="0.29820541"/>
    </joint>

    <link name="LINK_HEAD_YAW">
        <inertial>
            <origin xyz="0.00599014 -0.00349939 0.08960353" rpy="0 0 0"/>
            <mass value="0.87771797"/>
            <inertia ixx="0.00448787" ixy="0.00000481" ixz="-0.00046707" iyy="0.00491461" iyz="-0.00000229" izz="0.00339035"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HEAD_YAW.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.75294 0.75294 0.75294 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://identification/resource/robot/meshes/LINK_HEAD_YAW.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="J23_HEAD_YAW" type="revolute">
        <origin xyz="-0.017638 0 0.2961" rpy="0 0 0"/>
        <parent link="LINK_TORSO_YAW"/>
        <child link="LINK_HEAD_YAW"/>
        <axis xyz="0 0 1"/>
        <limit lower="-0.6109" upper="0.6109" effort="61" velocity="35.2"/>
        <dynamics armature="0.03947939" damping="0.08793343" friction="0.29700678"/>
    </joint>
</robot>
